@model List<Notification>

<div class="col">
    <div class="card shadow">
        <div class="card-body border-0 form-inline justify-content-between">
            <h3>Уведомления</h3>
        </div>

        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Сообщение</th>
                        <th scope="col">Статус</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="4">Нет новых уведомлений.</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var notification in Model)
                        {
                            <tr>
                                <td>@notification.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
                                <td>@notification.Message</td>
                                <td>@(notification.IsRead ? "Прочитано" : "Новое")</td>
                                <td>
                                    @if (!notification.IsRead)
                                    {
                                        <a href="@Url.Action("MarkAsRead", "Notification", new { id = notification.Id })">
                                            <i class="bi bi-check-square-fill"></i> 
                                        </a>
                                    }
                                </td>
                                <td>
                                    <form method="post" action="@Url.Action("Delete", "Notification", new { id = notification.Id })">
                                        <button type="submit" class="btn btn-icon-only text-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
